    <div class="card">
        {% if site.show_excerpt == true %}
        <div class="card_excerpt">
            <p>{{ post.excerpt | replace_first: "/images/", "/images/thumb/" }}</p>
        </div>
        {% endif %}
        <div class="entry-title">
            <a href="{{ post.url }}" title='点击查看"{{ post.title }}"''>
                <h2>{{ post.title }}</h2>
                <p class="article-date" style="font-size:15px">{{ post.date|date: "%Y-%m-%d" }}</p>
            </a>
        </div>
    </div>
