---
layout: default
---
<script src="/js/index_images.js"></script>

<section id="container">
	<div class="wrap-container">
		<section class="content-box box-2"><!--Start Box-->
			<div class="zerogrid">
				<div class="row">
					<div class="col-full">
						<div class="wrap-col item">
							<h2 style="font-size:45px">{{ site.description_title }}</h2>
							<p style="font-size:25px">{{ site.description | newline_to_br }}</p>
						</div>
					</div>
					</div>
				</div>
			</div>
		</section>
		<hr class="line">
		<br><br><br>
		<section class="content-box box-1"><!--Start Box-->
			<div class="zerogrid">
				<div class="">
					<div class="row">
								<script>
									document.write(str[5])
									document.write(str[7])
									document.write(str[6])
									document.write(str[1])
									document.write(str[8])
									document.write(str[4])
									document.write(str[2])
									document.write(str[3])
									document.write(str[9])
								</script>
					</div>
				</div>
			</div>
		</section>
		<hr class="line">
	</div>

</section>
